{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "plugins": [
        "react",
        "react-hooks",
        "prettier"
    ],
    "rules": {
        "no-use-before-define": "off",
        "prettier/prettier": "error"
    }
}
